{% extends 'base.html' %}

{% block title %}
<title>About Çağatay Çallı</title>
{% endblock %}

{% block content %}
<div class="full">
<div class="entry">

<h1>About Çağatay Çallı</h1>

<br/>
<p>I graduated from <a href="http://www.ceng.metu.edu.tr/">Department of Computer Engineering, Middle East Technical University</a> and I'm currently working on my Master's thesis at the same department. I have an enormous interest in computer science, internet, technology and future. I think that today the internet is still in its infancy and repeats itself. I really like music and I enjoy the application of computer science to music.</p>

<p>You can reach me at <a href="mailto:cagatay@turingroom.com">cagatay@turingroom.com</a> or through <a href="http://www.linkedin.com/in/cagataycalli">LinkedIn</a>.</p>

<p>"Without music, life would be a mistake." - <em>Friedrich Nietzsche</em></p>

</div>
</div>
{% endblock %}
