{% extends 'tr_base.html' %}

{% block title %}
<title>Çağatay Çallı hakkında</title>
{% endblock %}

{% block content %}
<div class="full">
<div class="entry">

<h1>Çağatay Çallı hakkında</h1>

<br/>
<p><a href="http://www.ceng.metu.edu.tr">Orta Doğu Teknik Üniversitesi Bilgisayar Mühendisliği Bölümü</a> mezunuyum ve aynı bölümde yüksek lisansta tez aşamasındayım. Bilgisayar bilimleri, internet, teknoloji ve geleceğe aşırı, belki de gereksiz, bir ilgi duyuyorum. Günümüzde internetin kendini tekrarladığını ve henüz emekleme aşamasında olduğunu düşünüyorum. Müziği çok seviyorum ve bilgisayar bilimlerinin müziğe uygulanmasından büyük keyif alıyorum.</p>

<p><a href="mailto:cagatay@turingroom.com">cagatay@turingroom.com</a>'dan veya <a href="http://www.linkedin.com/in/cagataycalli">LinkedIn</a>'den bana ulaşabilirsiniz.</p>

<p>"Müziksiz bir hayat hatadır" - <em>Friedrich Nietzsche</em></p>

</div>
</div>

{% endblock %}
